<div class="social-icons">
  <a id="fb-share" data-toggle="tooltip" data-placement="auto right" title="Share on Facebook" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=showmelivemusic.com&title=find+live+music+and+shows', '', 'height=500, width=600')">
    <div id="fb-share" class="social-icons-circles">
      <i class="fa fa-facebook"></i>
    </div>
  </a>
  <a id="twitter-share" data-toggle="tooltip" data-placement="auto right" title="Tweet it" href='http://twitter.com/intent/tweet?status=find+live+music+and+shows+with+tickets+available+at+showmelivemusic.com'>
    <div id="twitter-share" class="social-icons-circles">
      <i class="fa fa-twitter"></i>
    </div>
  </a>
  <a id="howitworks-modal-trigger" data-toggle="modal" data-target="#howitworks-modal">
    <div data-toggle="tooltip" data-placement="auto right" title="How does this work?" class="social-icons-circles">
      <i class="fa fa-question"></i>
    </div>
  </a>
</div>

<div id="howitworks-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">How it Works</h4>
      </div>
      <div class="modal-body howitworks-modal-body">
        <p>Say you want to go see a show on Friday. But you don't have a specific band in mind, and you aren't sure who's coming to town.</p>
        <p>Enter your city and the date and we'll tell you who's playing where. Listen to previews of the artists to see if you're interested.</p>
        <p>Our information and music previews come from Bandsintown and Spotify. We will only show you concerts that still have tickets available (according to Bandsintown).</p>
        <p>Navigate the list of events with the left and right arrow keys, or swipe through on mobile. Click the venue name to show a map of the location. Click the listen on spotify button to hear more from an artist.</p>
      </div>
    </div>

  </div>
</div>

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
