<a id="howitworks-modal-trigger" data-toggle="modal" data-target="#howitworks-modal"><i class="fa fa-question-circle"></i>&nbsp;how it works</a>

<div id="howitworks-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">How it Works</h4>
      </div>
      <div class="modal-body howitworks-modal-body">
        <p>Say you want to go see a show on Friday. But you don't have a specific band in mind, and you aren't sure who's coming to town.</p>
        <p>Enter your city and the date and we'll tell you who's playing where. You can move through each event and listen to a preview of the artists to see if you're interested.</p>
        <p>Our information and music previews come from Bandsintown and Spotify. We will only show you concerts that still have tickets available (according to Bandsintown).</p>
        <p>You can navigate the list of events by clicking or the left and right arrows. You can also click the artist name to listen to them on spotify.</p>
      </div>
    </div>

  </div>
</div>
