<div class="floating-icons absolute-right" id="all-events-modal-trigger" data-toggle="modal" data-target="#all-events-modal">
  <a data-toggle="tooltip" data-placement="auto left" title="See All Events" id="all-events-tooltip">
    <div class="floating-icons-circles">
      <i class="fa fa-th-list"></i>
    </div>
  </a>
</div>

<div id="all-events-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Events List</h4>
      </div>
      <div class="modal-body">
        <% i = 0 %>
        <% while i < @events.length %>
          <div id="event-modal-<%=i%>" class="event-modal-content">
            <span><%= i + 1 %>) </span>
            <span ><%= @events[i].venue_name %> — </span>
            <% j = 0 %>
            <% while j < @events[i].artists.length %>
              <span><%= @events[i].artists[j].name %></span>
              <% if j != (@events[i].artists.length - 1) %>
                <span> + </span>
              <% end %>
              <% j += 1 %>
            <% end %>
          </div>
          <% i += 1 %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script>
    $('[data-toggle="tooltip"]').tooltip();
    $("body").on("click", function() {
      $('#all-events-tooltip').tooltip('hide');
    })
</script>
