<h2 id="how-it-works">How it Works</h2>
<div id="about-wrapper">
  <div id="about-content">
    You want to go see some live music. But you don't have a specific band in mind.
    <br><br>
    Pick the date and where you are and we'll tell you who's in town.
    <br><br>
    Listen to a preview of the bands playing and get tickets or move on to the next one.
  </div>
</div>
