<div id="search-form">
  <%= form_tag(show_path, controller: 'home', action: 'show', id: "database-form", method: :post) do %>
    <div class="form-group">
      <input id="date" type="text" name="date" required=true readonly=true class="datepicker" value="<%= Time.now.strftime("%Y-%m-%d") %>" />
    </div>
    <div class="form-group">
      <%= text_field_tag :city, nil, placeholder:"Enter a City", id:"city-input", required: true %>
      <%= select_tag :state, options_for_select(us_states), id:"state-input", prompt: "Select a State ↓", required: true %>
    </div>
    <div class="form-group">
      <br><br>
      <button type="submit" class="btn btn-primary" id="search-btn">Search</button>
    </div>
  <% end %>
</div>

<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<script charset="utf-8">
$(function() {
  $('.datepicker').datepicker({
    dateFormat: "yy-mm-dd",
    prevText: "<",
    nextText: ">",
    constrainInput: true,
    duration: "medium",
    maxDate: "+3m",
    minDate: "0d"
  });
});
</script>



<script type="text/javascript">
// Load up new event
function displayEvent() {
  $("#slideshow").hide();
  var time = moment(events[0]['datetime']).format("M/D - h:mm A");
  for (var i=0; i < events[0]['artists'].length; i++) {
    if (events[0]["artists"][i]["preview"]) {
      var playID = "play-btn-" + i
      var pauseID = "pause-btn-" + i
      var audioID = "audio-" + i
      $("#artist-wrapper").append(events[0]["artists"][i]["name"] +
      ' <audio id="' + audioID + '" src=' + events[0]["artists"][i]["preview"] + '></audio>' +
      '<span id="' + playID + '" class="glyphicon glyphicon-play" aria-hidden="true"></span>' +
      '<span id="' + pauseID + '" class="glyphicon glyphicon-pause" aria-hidden="true"></span>' +
      '<br>')
      $('#' + pauseID).hide();
    }
    var bandContainer = document.querySelector("#artist-wrapper");
    bandContainer.addEventListener("click", playToggle, false);

    function playToggle(e) {
        if (e.target !== e.currentTarget) {
            var clickedItem = e.target.id;
            var itemID = clickedItem.charAt(clickedItem.length - 1)
            if (clickedItem.charAt(1) === "l") {
              $('#play-btn-' + itemID).hide();
              $('#pause-btn-' + itemID).show();
              document.getElementById("audio-" + itemID).play();
            } else if (clickedItem.charAt(1) === "a") {
              $('#play-btn-' + itemID).show();
              $('#pause-btn-' + itemID).hide();
              document.getElementById("audio-" + itemID).pause();
            }
        }
        e.stopPropagation();
    }
  };
  $("#venue").html("@ " + events[0]['venue']['name']);
  $("#event-time").text(time);
  $("#buy-tix").html("<a href=" + events[0]['ticket_url'] + " target=_blank class='btn btn-primary'> Get Tickets </a>");
};

</script>
