<div class="header">
  <h1>little brother</h1>
  <h3>go see bands you've never heard of</h3>
</div>

<div id="search-form">
  <%= form_tag(home_spotify_path, controller: 'home', action: 'spotify', class:"form-horizontal", remote: true) do %>
    <div class="form-group">
      <%= text_field_tag :artist, nil, placeholder:"Artist" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :city, nil, placeholder:"City", id:"city-input" %>
      <%= select_tag :state, options_for_select(us_states), id:"state-input", prompt: "Select a State ↓" %>
    </div>
    <div class="form-group">
      <br><br>
      <button type="submit" class="btn btn-primary" id="submit-btn">Search</button>
    </div>
  <% end %>
</div>

<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div id="result">

</div>

<script>
  // hide spinner
  $(".spinner").hide();

  // show spinner on AJAX start
  $(document).ajaxStart(function(){
    $(".spinner").show();
  });

  // hide spinner on AJAX stop
  $(document).ajaxStop(function(){
    $(".spinner").hide();
  });
</script>
