<div class="header">
  <%= image_tag 'groupiethick2.png' %>
  <h1>SHOWME</h1>
  <h3>tinder for little known bands</h3>
</div>

<div id="search-form">
  <form class="form-horizontal">
    <div class="form-group">
      <%= select_date Date.today, prefix: :date, id: 'date' %>
    </div>
    <div class="form-group">
      <%= text_field_tag :city, nil, placeholder:"Enter a City", id:"city-input" %>
      <%= select_tag :state, options_for_select(us_states), id:"state-input", prompt: "Select a State ↓" %>
    </div>
    <div class="form-group">
      <br><br>
      <button type="submit" class="btn btn-primary" id="submit-btn">Search</button>
    </div>
  </form>
</div>

<div id="current-view">

  <h3 id="band-name"></h3>

  <button id="reject-btn">Reject</button>
  <button id="accept-btn">Accept</button>

  <div id="accept-field" class="hidden">
    <button id="buy-tickets">Buy</button>
  </div>
</div>

<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div id="view-container" >

</div>

<script id="script">

  var events = "defined";

  $(".spinner").hide();

  function displayEvent() {
    $("#band-name").text(events[0]['artists'][0]['name']);
  };

  $("form").submit(function(event) {
    event.preventDefault();
    $(".spinner").show();
    var formParams = {
      dateYear: $("#date_year").val(),
      dateMonth: $("#date_month").val(),
      dateDay: $("#date_day").val(),
      city: $("#city-input").val(),
      state: $("#state-input").val()
    };

    $.ajax({
      type: 'POST',
      data: formParams,
      dataType: 'script',
      url: '/home/spotify'
    })
    .done(function(data) {
      console.log('ajax finished' + data);
      events = JSON.parse(data);
      displayEvent();
    })
    .fail(function(error) {
      console.log('messed up because of ' + error)
    })
    .always(function() {
      console.log('finished loading user info');
      $(".spinner").hide();
    })
  });

</script>
