$('#query').val("")
$("#result").empty().append(
  "<% if @event %>" +
    "<ul>" +
      "<li>Artist: <%= @event['artists'][0]['name'] %>" +
        "<br>Venue: <%= @event['venue']['name'] %>" +
        "<br>Buy Tickets: <%= @event['ticket_url'] %>" +
      "</li>" +
    "</ul>" +
  "<% else %>" +
    "<p>No Events Found </p>" +
  "<% end %>"
)
