$('#query').val("")
$("#result").empty().append(
  "<ul>" +
    "<% @events.each_with_index do |event, index| %>" +
      "<li><%= index + 1 %> ) <%= event['venue']['name'] %>" +
        "<%= event['artists'][0]['name'] %>" +
      "</li>" +
    "<% end %>" +
  "</ul>"
)
