<div id="current-view">

  <h3 id="band-name"></h3>
  <button class="btn btn-primary" id="reject-btn">Reject</button>
  <button class="btn btn-primary" id="accept-btn">Accept</button>

  <div id="accept-field" class="hidden">
    <button  class="btn btn-primary"id="buy-tickets">Buy</button>
  </div>

</div>
