@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/*
 *= require jquery-ui/datepicker
 */

// Variables
$primary: #DD9189;
$primary-light: lighten($primary, 15%);
$primary-dark: darken($primary, 10%);
$primary-very-dark: darken($primary, 35%);

//
#current-view,
#error-container {
  display: block;
  margin: auto;
  text-align: center;
}

#error-container {
  display: none;
}

.hidden {
  display: none;
}

// Navbar
.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 5rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: transparent;
}

/* Navigation Menu - List items */
.nav-item {
  width: 200px;
  list-style-type: none;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: transparent;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: #fff;
  transition: all 0.5s ease-out;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  min-height: 105%;
  min-width: 100%;
  background-color: #CA5447;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

/* Nav Trigger */
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;

  height: 45px;
  width: 45px;
  cursor: pointer;
  background-image: url("hamburger.png");
  background-size: contain;
}

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
}

// Application

html, body {
  background: #CA5447;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.main-container {
  margin-top: 2%;
}

.header {
  color: $primary;
  text-align: center;
  h1 {
    // font-family: 'Yesteryear', cursive;
    font-size: 8rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  img:first-child {
    width: 12rem;
  }
  #showme {
    width: 40rem;
  }
}

.btn {
  border-radius: 0px;
  transition: all 0.4s ease-out;
  min-width: 20rem;
  height: 5rem;
  line-height: 3.2rem;
}

.btn-primary {
  border-radius: 0px;
  background-color: transparent;
  border: 3px solid $primary-dark;
  &:hover {
   background: $primary;
   border: 3px solid $primary;
  }
  &:focus:active {
   background: $primary;
   border: 3px solid $primary;
  }
  &:focus, &:active {
    background: $primary-dark;
    border: 3px solid $primary-dark;
    outline: none;
  }
}

#search-form {
  margin:5rem auto 0 auto;
  display: block;
  text-align:center;
  input {
    background: rgba(0,0,0,0.1);
    border: transparent;
    margin-left:0;
    outline: none;
    height: 4rem;
    width: 22rem;
    text-align:center;
  }
  .datepicker {
    cursor: pointer;
  }
  #city-input {
    width: 30rem;
    -webkit-text-fill-color: white !important;
  }
  #city-input:-webkit-autofill,
  #city-input:-webkit-autofill:hover,
  #city-input:-webkit-autofill:focus,
  #city-input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  }
  #state-input {
    background: rgba(0,0,0,0.1);
    outline: none;
    width: 14rem;
    padding-left: 1.5rem;
    cursor: pointer;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 4rem;
    opacity:0.75;
    -webkit-appearance: none;
  }
}

#ui-datepicker-div {
  display:none;
  background: rgba(255,255,255,0.8);
  color: $primary-very-dark;
  width: 22rem;
  text-align:center;
  padding: 5px 5px 5px 5px;
  &:hover {
    cursor: pointer;
  }
  a {
    cursor: pointer;
  }
  .ui-state-default {
    color: $primary-dark;
  }
  .ui-icon {
    color: $primary;
    &:hover {
      text-decoration: none;
    }
  }
  .ui-icon-circle-triangle-w {
    margin-right: 8%;
  }
  .ui-icon-circle-triangle-e {
    margin-left: 8%;
  }
  table {
    // display:block;
    margin-left:auto;
    margin-right:auto;
  }
}

input::-webkit-input-placeholder { color: #fff; opacity:0.75 }
input:-moz-placeholder { color: #fff; opacity:0.75 }
input::-moz-placeholder { color: #fff; opacity:0.75 }
input:-ms-input-placeholder { color: #fff; opacity:0.75 }

.spinner {
  margin: 5rem auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $primary-dark;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


// Display Page

.tickets {
  div {
    display: inline;
  }
}

.glyphicon {
  cursor: pointer;
}

// Slider Tagline
#slideshow {
    margin: 0.4rem auto;
    position: relative;
    font-size: 1.7em;
    width: 100%;
    height: 3rem;
    padding: 10px;
}

#slideshow > .tagline {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
