@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/*
 *= require jquery-ui/datepicker
 */

// Variables
$primary: #DD9189;
$primary-light: lighten($primary, 15%);
$primary-very-light: lighten($primary, 25%);
$primary-dark: darken($primary, 10%);
$primary-very-dark: darken($primary, 35%);
$background: #CA5447;

//

.alert-danger {
  position:absolute;
  top: 5%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  min-width: 40rem;
  border-radius: 0px;
  text-align: center;
  background: rgba(255,255,255,0.8);
  color: $primary-dark;
}

.hidden {
  display: none;
}

hr {
  border-bottom: 2px solid $primary-dark;
  border-top: transparent;
}

.modal-header {
  border-bottom: 1px solid $primary-dark;
  border-top: transparent;
}

.social-icons {
  font-size: 2rem;
  line-height: 2.35;
  position: absolute;
  top: 15px;
  left: 15px;
  a {
    color: rgba(255,255,255,0.9);
  }
  .social-icons-circles {
    background: transparent;
    border: 2px solid $primary;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    transition: all 0.4s;
    text-align: center;
    margin-bottom:10%;
    cursor: pointer;
    &:hover {
      background: $primary;
    }
  }
}

.tooltip.right {
  width: 20rem;
  font-family: 'Montserrat', sans-serif;
  border-right-color: rgba(255,255,255,0.3);
  font-size: 1.35rem;
}

.tooltip-arrow {
  border-right: transparent;
}

.tooltip-inner,  {
  background: rgba(0,0,0,0.1);
  height: 3.5rem;
  border-radius: 0px;
  color: #fff;
  line-height: 1.9;
}

// Application

html, body {
  background: $background;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
  &:focus:active {
    color: $primary;
    text-decoration: none;
  }
  &:focus, &:active {
    text-decoration: none;
    color: #fff;
  }
}

.site-wrapper {
  margin-top: 2%;
}

.header {
  color: $primary;
  text-align: center;
  h1 {
    font-size: 8rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  img:first-child {
    width: 12rem;
  }
  #showme {
    width: 40rem;
  }
}

.btn {
  border-radius: 0px;
  transition: all 0.4s ease-out;
  margin-bottom: 3%;
  font-size: 2rem;
  width: 30rem;
  height: 6rem;
  line-height: 2;
}

.btn-primary {
  border-radius: 0px;
  background-color: transparent;
  border: 3px solid $primary-dark;
  &:hover {
   background: $primary;
   border: 3px solid $primary;
  }
  &:focus:active {
   background: $primary;
   border: 3px solid $primary;
  }
  &:focus, &:active {
    background: $primary-dark;
    border: 3px solid $primary-dark;
    outline: none;
  }
}

.howitworks-modal-body {
  color: $primary-very-dark;
}

#search-form {
  margin:5rem auto 0 auto;
  display: block;
  text-align:center;
  font-size:2rem;
  color: $primary-light;
  padding: auto 3% auto 3%;
  span {
    margin-right: 2%;
  }
  input {
    background: transparent;
    border: transparent;
    line-height: 3.75;
    border-bottom: 2px dashed rgba(0,0,0,0.2);
    margin-left:0;
    padding-bottom: -5px;
    outline: none;
    height: 6rem;
    width: 20rem;
    text-align:center;
    color: #fff;
  }
  .datepicker {
    cursor: pointer;
  }
  #city-input {
    -webkit-text-fill-color: white !important;
    width: 20rem;
  }
  #city-input:-webkit-autofill,
  #city-input:-webkit-autofill:hover,
  #city-input:-webkit-autofill:focus,
  #city-input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  }
  #state-input {
    background: transparent;
    border: transparent;
    border-bottom: 2px dashed rgba(0,0,0,0.2);
    color: #fff;
    outline: none;
    width: 10rem;
    padding-left: 2rem;
    cursor: pointer;
    line-height: 3.75;
    height: 6rem;
    // opacity:0.75;
    -webkit-appearance: none;
    option {
      background: transparent;
    }
  }
}

.form-wrapper {
  background: rgb(183, 76, 65);
  width: 60%;
  display: block;
  margin:auto auto 3% auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media(max-width: 800px) {
  #fb-share, #twitter-share {
    display: none;
  }
  .form-wrapper {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 3.5%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media(max-width: 430px) {
  .header {
    #showme {
      width: 32rem;
    }
    #slideshow {
      width: 85% !important;
    }
    p {
      font-size: 2rem;
    }
  }
  #city-input {
    width: 15rem !important;
  }
}

#ui-datepicker-div {
  display:none;
  background: rgba(255,255,255,0.8);
  color: $primary-very-dark;
  width: 20rem;
  text-align:center;
  padding: 5px 5px 5px 5px;
  font-size: 1.75rem;
  &:hover {
    cursor: pointer;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
  .ui-state-default {
    color: $primary-dark;
  }
  .ui-icon {
    color: $primary;
    &:hover {
      text-decoration: none;
    }
  }
  .ui-icon-circle-triangle-w {
    margin-right: 8%;
    font-size:1.5em;
    font-weight: 700;
  }
  .ui-icon-circle-triangle-e {
    margin-left: 8%;
    font-size:1.5em;
    font-weight: 700;
  }
  table {
    // display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .ui-state-disabled {
    cursor: default;
    span {
      color: $primary-light;
    }
  }
}

input::-webkit-input-placeholder { color: #fff }
input:-moz-placeholder { color: #fff }
input::-moz-placeholder { color: #fff }
input:-ms-input-placeholder { color: #fff }

.spinner {
  margin: 5rem auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $primary-dark;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

// Slider Tagline
#slideshow {
    margin: 0.4rem auto;
    position: relative;
    font-size: 1.7em;
    width: 100%;
    height: 3rem;
    padding: 10px;
}

#slideshow > .tagline {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

// About

#how-it-works {
  margin-top: 10%;
  text-align: center;
}

#about-wrapper {
  margin-top: 2%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  font-size: 1.3em;
  #about-content {
    background: rgba(0,0,0,0.1);
    color: $primary-light;
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5%;

  }
}

// Results Page

.buy-tickets {
  margin-top: -2%;
}

.glyphicon {
  cursor: pointer;
}

#all-events-container {
  margin: 3rem auto;
  display: block;
  text-align:center;
  color: $primary-very-light;
  .event-wrapper {
    width: 70%;
    margin:auto;
    .back-btn, .forward-btn {
      cursor: pointer;
      font-size: 2.5rem;
      color: $primary-light;
      margin-top: 17.5%;
    }
    .back-btn {
      float: left;
      margin-right: 5%;
    }
    .forward-btn {
      float: right;
      margin-left: 5%;
    }
    .event-flexbox {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flexbox;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column wrap;
      justify-content: space-around;
      background: rgb(183, 76, 65);
      overflow: hidden;
      .event-number {
        font-size: 0.65em;
        float: left;
        color: $primary;
      }
      .artist-box {
        text-align: center;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 0% 0% 0% 0%;
        font-size: 2.5rem;
        .artist-image {
          width: 100%;
          height: 25rem;
          display:block;
          margin:auto;
          background-size: cover;
          background-position-y: 15%;
          background-repeat: no-repeat;
          position: relative;
          border-top: 6px solid $background;
          header {
            position: absolute;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .artist-name {
              font-size: 3rem;
            }
            .song-preview {
              font-size: 2rem;
              span {
                margin-top: 1%;
                font-size: 3rem;
                transition: all 0.4s;
                &:hover {
                  color: $primary;
                }
              }
            }
            #spotify-link {
              position: absolute;
              bottom: -58.5%;
              left: -5%;
              img {
                width: 15rem;
                opacity: 0.65;
                transition: all 0.4s;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .venue-box {
        font-size: 2rem;
        text-align: center;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 2;
        padding: 2% 3% 2% 3%;
      }
    }
  }
}

.home-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  color: $primary;
  transition: all 0.5s ease-out;
  &:hover, &:active, &:focus {
    color: $primary-dark;
    text-decoration: none;
  }
}

.navigation-alert {
  width: 70%;
  background: rgba(255,255,255,0.6);
  color: $primary-dark;
  margin: auto;
  text-align: center;
  .close {
    transition: all 0.4s;
  }
}

.glyphicon-volume-up, .glyphicon-pause {
  font-size: 1.6rem;
}

@media(max-width: 1000px) {
  .event-wrapper {
    width: 90% !important;
  }
}

@media(max-width: 800px) {
  #city-result {
    h1 {
      font-size: 12vw;
    }
    h3 {
      font-size: 4.5vw;
    }
  }
  .buy-tickets {
    margin-top: 10%;
  }
  .container-fluid {
    padding: 0px;
  }
  #all-events-container {
    width: 100% !important;
  }
  .event-wrapper {
    width: 100% !important;
    .forward-btn {
      display:none;
    }
    .back-btn {
      display:none;
    }
    .event-flexbox {
      .artist-box {
        font-size: 2rem !important;
      }
      .venue-box {
        font-size: 1.5rem !important;
      }
    }
  }
  .home-btn {
    top: 5px;
    left: 5px;
    font-size: 1.4rem;
  }
  .header {
    width: 90%;
    display: block;
    margin: auto;
  }
  .navigation-alert {
    width: 100%;
  }
}
