@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/*
 *= require jquery-ui/datepicker
 */

//
#current-view,
#error-container {
  display: block;
  margin: auto;
  text-align: center;
}

#error-container {
  display: none;
}

.hidden {
  display: none;
}


// Variables
$primary: #DD9189;
$primary-light: lighten($primary, 15%);
$primary-dark: darken($primary, 10%);
$primary-very-dark: darken($primary, 35%);

// Application

html, body {
  background: #CA5447;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  margin-top: 2%;
}

.header {
  color: $primary;
  text-align: center;
  h1 {
    // font-family: 'Yesteryear', cursive;
    font-size: 8rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  img:first-child {
    width: 10rem;
  }
  #showme {
    width: 40rem;
  }
}

.btn {
  border-radius: 0px;
  transition: all 0.4s ease-out;
  min-width: 20rem;
  height: 5rem;
}

.btn-primary {
  border-radius: 0px;
  background-color: transparent;
  border: 3px solid $primary-dark;
  &:hover {
   background: $primary;
   border: 3px solid $primary;
  }
  &:focus:active {
   background: $primary;
   border: 3px solid $primary;
  }
  &:focus, &:active {
    background: $primary-dark;
    border: 3px solid $primary-dark;
    outline: none;
  }
}

#search-form {
  margin:5rem auto 0 auto;
  display: block;
  text-align:center;
  input {
    background: rgba(0,0,0,0.1);
    border: transparent;
    margin-left:0;
    outline: none;
    height: 4rem;
    width: 22rem;
    text-align:center;
  }
  .datepicker {
    cursor: pointer;
  }
  #city-input {
    width: 30rem;
  }
  #state-input {
    background: rgba(0,0,0,0.1);
    outline: none;
    width: 14rem;
    padding-left: 1.5rem;
    cursor: pointer;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 4rem;
    opacity:0.75;
    -webkit-appearance: none;
  }
}

#ui-datepicker-div {
  display:none;
  background: rgba(255,255,255,0.8);
  color: $primary-very-dark;
  width: 22rem;
  text-align:center;
  padding: 5px 5px 5px 5px;
  &:hover {
    cursor: pointer;
  }
  a {
    cursor: pointer;
  }
  .ui-state-default {
    color: $primary-dark;
  }
  .ui-icon {
    color: $primary;
    &:hover {
      text-decoration: none;
    }
  }
  .ui-icon-circle-triangle-w {
    margin-right: 8%;
  }
  .ui-icon-circle-triangle-e {
    margin-left: 8%;
  }
  table {
    // display:block;
    margin-left:auto;
    margin-right:auto;
  }
}

input::-webkit-input-placeholder { color: #fff; opacity:0.75 }
input:-moz-placeholder { color: #fff; opacity:0.75 }
input::-moz-placeholder { color: #fff; opacity:0.75 }
input:-ms-input-placeholder { color: #fff; opacity:0.75 }

.spinner {
  margin: 5rem auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $primary-dark;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


// Display Page

.tickets {
  div {
    display: inline;
  }
}

p {
  cursor: pointer;
}
