<!DOCTYPE html>
<html>
<head>
  <title>ShowMe Music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Yesteryear|Yellowtail|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="navigation">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/about">How it Works</a></li>
  </ul>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>

<div class="container site-wrap">
  <%= yield %>
</div>

</body>
</html>
